<div class="admin-container">
    <div>
      <div>
        <div >
          <div>
            <form
              class="formuh"
              #blogform="ngForm"
              (ngSubmit)="createBlog(blogform.value)"
            >
              <div >
                <div >
                  <div >
              
                   
                    <div >
                      <label
                        for="brand"
                       
                      >
                        <strong>Author</strong>
                      </label>
                      <div >
                        <input
                          type="text"
                          name="author"
                          id="author"
                          class="create-input"
                          placeholder="author name.."
                          ngModel
                        />
                      </div>
                    </div>
                    <div >
                      <label
                   
                       
                      >
                        <strong>title</strong>
                      </label>
                      <div >
                        <input
                          type="text"
                          name="title"
                          id="title"
                          class="create-input"
                          placeholder="title"
                          ngModel
                        />
                      </div>
                    </div>
                  </div>
                  <br />
  
                  <div>
                    <label
                     
                    
                    >
                      <strong>content</strong>
                    </label>
                    <div >
                      <textarea
                        id="details"
                        name="content"
                        rows="3"
                        class=".create-body-textarea"
                        placeholder="content..."
                        ngModel
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div >
                  <button
                    id="btn"
                    roulerLink="/adminview"
                
                  >
                    Save
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
