<div class="feed" >
    <ul *ngFor="let blog of blogs">
      <li class="feed-list-item" [ngStyle]="{ 'border-color': blog.upvote>blog.downvote ? 'green' : 'red' }">
        <div class="feed-list-item-title" >{{blog.title}}</div>
        <div class="feed-list-item-byline"><span class="feed-list-item-byline-author">{{blog.author}}</span></div>
       
        <span class="feed-list-item-lede">{{blog.content.split('.')[0]}}... </span>
        <a routerLink="/detail/{{blog._id}}">continue reading</a>


        <br/> <button (click)="upvote(blog._id,blog.upvote)" style="margin:10px ;background-color: green;">up vote</button> 
        <button (click)="downvote(blog._id,blog.downvote)" style="background-color: red ;">down vote</button>
      </li>
    </ul>
  </div>