<!-- Toolbar -->
<div>
  <div class="nav">
    <span class="logo">
      BLOGGING APP
    </span>
    <span class='nav-unselected' routerLink="">
      See all Blogs
    </span>
    <span class="nav-unselected" routerLink="/createBlog">
      Create a Blog
    </span>
    
  </div>

  <div class="main">
   
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
